<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SportsUnity Admin Block/Unblock User Page</title>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/admin.css"/>
    <script type="text/javascript" src="/static/js/jquery-1.12.1.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.js-block-btn').on('click', function(e){
                e.preventDefault();
                text = $(this).text();
                if($.trim(text)=='Block'){
                    $(this).prev().val('Block');
                    $(this).text('Unblock');
                }
                else {
                    $(this).prev().val('Unblock');
                    $(this).text('Block');
                }
                $(this).parent().submit();
            });
        });
    </script>
</head>
<body>
    <div class="container jumbotron">
        <div class="row">
            <div class="navbar navbar-default text-center page-header navbar-heading">
                <h3 class="navbar-h3">SportsUnity Admin Block/Unblock User</h3>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-10 content-wrap">
                <table class="table table-striped table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th> Username </th>
                            <th> Phone Number </th>
                            <th> Block / Unblock </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td> {{ user['username'] }} </td>
                            <td> {{ user['phone_number'] }}</td>
                            <td>
                                <form action="{{ request.path }}" method="post" class="form-horizontal">
                                    <input type="hidden" name="username" value="{{ user['username'] }}"/>
                                    <input type="hidden" name="btn_action" value=""/>
                                    <button type="submit" class="btn btn-primary js-block-btn">{% if user['is_banned'] %}
                                        Unblock{% else %} Block {% end %}</button>
                                </form>
                            </td>
                        </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
</html>
